astropy==5.1
beautifulsoup4==4.11.1
bs4==0.0.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
cycler==0.11.0
dask==2022.2.0
distributed==2022.2.0
fonttools==4.37.4
fsspec==2022.8.2
healpy==1.16.1
HeapDict==1.0.1
httplib2==0.20.4
idna==3.4
importlib-metadata==5.0.0
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
locket==1.0.0
MarkupSafe==2.1.1
matplotlib==3.5.3
msgpack==1.0.4
numpy==1.23.4
packaging==21.3
pandas==1.3.5
partd==1.3.0
Pillow==9.2.0
psutil==5.9.2
pyarrow==9.0.0
pyerfa==2.0.0.1
pyparsing==3.0.9
pytest
python-dateutil==2.8.2
pytz==2022.4
PyYAML==6.0
requests==2.28.1
scikit-learn==1.0.2
scipy==1.9.2
six==1.16.0
sklearn==0.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
tblib==1.7.0
threadpoolctl==3.1.0
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
typing_extensions==4.3.0
urllib3==1.26.12
zict==2.2.0
zipp==3.8.1
